!!!
%html{:dir => 'ltr', :lang => I18n.locale}
  %head
    %meta{:charset => 'UTF-8'}/
    %title Ember
    = stylesheet_link_tag 'frontend'
    = include_ember_script_tags :frontend
  %body
    = yield